<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClinicaDb"
			 connectionString="Server=localhost;Port=3306;Database=clinica_veterinaria;Uid=root;Pwd=;SslMode=Disabled;AllowUserVariables=True;CharSet=utf8mb4;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="NombreClinica" value="Clínica Veterinaria" />
	</appSettings>
</configuration>